@use "../../../styles/mixins.scss";

.topBarButton {
  font-weight: 600;
  border-radius: 18px;
  transition: all 0.2s ease;

  &:hover {
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(0);
  }
}